#useless files for the container
.env
.gitignore
.npmignore
test.js
backup.js
node_modules
test
README.md
screenshot-telegram.png
Screenshot.png
LICENSE
config-example.json 
renovate.json
dockerfile

#dot folder
.github/
.eslintcache/
.vscode/
.npm/

#the image folder 
IMAGES/