name: ssl-expiry-reminder-test

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.1.6
    - uses: actions/setup-node@v4.0.2
      with:
         node-version: '18.x'
    - name: use npm
      run: |
       npm install
       npm start
