name: ssl-expiry-reminder-test

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5.0.1
    - uses: actions/setup-node@v6.2.0
      with:
         node-version: '22.22.0'
    - name: use npm
      run: |
       npm install
       npm start
