name: ssl-expiry-reminder-test

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3.0.2
    - uses: actions/setup-node@v3.3.0
      with:
         node-version: '16.x'
    - name: use npm
      run: |
       npm install
       npm start
